<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Views
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="PEDIDOS_ESTADO_TOTAL.html" target="ObjectDetailsFrame">PEDIDOS_ESTADO_TOTAL</a>
<a href ="PEDIDOS_RECIENTES.html" target="ObjectDetailsFrame">PEDIDOS_RECIENTES</a>
<a href ="PRODUCTOS_AGOTADOS.html" target="ObjectDetailsFrame">PRODUCTOS_AGOTADOS</a>
<a href ="PRODUCTOS_CATEGORIAS.html" target="ObjectDetailsFrame">PRODUCTOS_CATEGORIAS</a>
<a href ="USUARIOS_ROLES.html" target="ObjectDetailsFrame">USUARIOS_ROLES</a>
<a href ="VENTAS_DIARIAS.html" target="ObjectDetailsFrame">VENTAS_DIARIAS</a>
<a href ="V_EVENTOS_PROXIMOS.html" target="ObjectDetailsFrame">V_EVENTOS_PROXIMOS</a>
<a href ="V_FACTURAS_PAGADAS.html" target="ObjectDetailsFrame">V_FACTURAS_PAGADAS</a>
<a href ="V_HISTORIAL_ESTADO_PEDIDOS.html" target="ObjectDetailsFrame">V_HISTORIAL_ESTADO_PEDIDOS</a>
<a href ="V_PAGOS_POR_METODO.html" target="ObjectDetailsFrame">V_PAGOS_POR_METODO</a>

</div></body> </html>